body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #24a6e8;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  height: 60px;
  z-index: 10; /* Ensure navbar is above other content */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.nav-links li {
  margin: 0 16px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: transform 0.3s;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

.nav-links a:hover {
  transform: scale(1.05);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 20; /* Ensure it is above other elements */
}

.bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
  }

  .nav-button-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #26a8e8;
    padding-bottom: 16px;
    margin: 0;
    z-index: 15; 
    border-radius: 8px;/* Ensure menu is above other content but below the menu toggle */
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 20; /* Ensure it is above the menu */
  }

  .collect-cloth-button {
    margin-left: 24px;
  }
}

.collect-cloth-button {
  background-color: #7681f1;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  margin-left: 15px;
  transition: background-color 0.3s;
}

.collect-cloth-button:hover {
  background-color: #5a48ec;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
